/* CSS RESET
==================================================================================================== 
====================================================================================================
*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, button,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

/* HTML5 - Older browser support
====================================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* BODY
====================================================================== */
body {
  line-height: 1; }

/* LISTS - Clear bullets
====================================================================== */
ol, ul {
  list-style: none; }

/* QUOTES
====================================================================== */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* TABLES
====================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

header p, li {
  margin-left: auto;
  margin-right: auto; }

html {
  font-size: 62.5%; }

body {
  font: 1.6rem/1.25 "PT Sans", sans-serif;
  color: #000; }

h1 {
  font-weight: bold;
  font-size: 4.5rem;
  margin-bottom: .5rem; }

strong {
  font-weight: bold; }

header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 2.2rem;
  text-align: center; }
  header img, header picture {
    margin-bottom: 1rem; }
  header p {
    margin-bottom: 5rem;
    color: #4c4c4c;
    max-width: 80%; }

ul {
  margin-bottom: 3rem; }

li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 80%; }
  li img, li picture {
    width: 100%;
    margin-bottom: 1rem; }
  li p {
    padding-left: 2.5rem; }
  li .author {
    background-image: url("../assets/user-icon.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    padding-bottom: .5rem;
    font-weight: bold; }
  li .town {
    background-image: url("../assets/location.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    padding-bottom: 1.5rem;
    background-position-x: 3px; }

footer {
  padding: 6rem 0;
  text-align: center; }

@media screen and (min-width: 1000px) {
  ul {
    max-width: 1000px;
    margin: auto; }
  .caption {
    padding: 1.5rem .5rem .5rem 2rem;
    position: absolute;
    z-index: 1;
    background-color: rgba(1, 1, 1, 0.8);
    width: calc(100% - 2rem);
    bottom: 1.3rem;
    color: #fff;
    display: none; }
  li {
    position: relative;
    display: inline-block;
    width: calc(100% / 3 - .33333333rem);
    padding-right: 2rem; }
    li:hover .caption {
      display: block; } }
